.page_layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  text-transform: lowercase;
}

.main {
  margin-left: 1rem;
  margin-right: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--neutral__500);
  border-left: 1px solid var(--neutral__500);

  .wrapper {
    height: 100%;
  }
}

.section {
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero_section {
  padding-top: 10rem;
  padding-bottom: 6rem;
  border-bottom: 1px solid var(--neutral__500);
}

.hero {
  .title {
    font-family: var(--font-fira-sans);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.25rem;
    color: var(--neutral__600);
    margin-bottom: 0.5rem;
  }

  .sub_title {
    color: var(--neutral__500);
    font-weight: 700;
    font-size: 1.125rem;
  }

  .description {
    color: var(--neutral__400);
  }
}

@media (width >= 40rem) {
  .main {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
@media (width >= 48rem) {
  .main {
    margin-left: 7rem;
    margin-right: 7rem;
  }

  .hero {
    max-width: 90%;
  }
}

@media (width >= 64rem) {
  .main {
    margin-left: 9rem;
    margin-right: 9rem;
  }
  .hero {
    .title {
      font-size: 4rem;
      margin-bottom: 0;
    }

    .sub_title {
      font-size: 1.25rem;
    }
  }
}
