.page_layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  text-transform: lowercase;
}

.main {
  margin-left: 1rem;
  margin-right: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--neutral__500);
  border-left: 1px solid var(--neutral__500);

  .wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
  }
}
@media (width >= 40rem) {
  .main {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
@media (width >= 48rem) {
  .main {
    margin-left: 7rem;
    margin-right: 7rem;
  }
}

@media (width >= 64rem) {
  .main {
    margin-left: 9rem;
    margin-right: 9rem;
  }
}
