.page_layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  text-transform: lowercase;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.main {
  margin-left: 1rem;
  margin-right: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--neutral__500);
  border-left: 1px solid var(--neutral__500);

  .wrapper {
    height: 100%;
  }
}

.section {
  padding-left: 1rem;
  padding-right: 1rem;
}

.border_bottom {
  border-bottom: 1px solid var(--neutral__500);
}

.hero_section {
  padding-top: 10rem;
  padding-bottom: 6rem;
  border-bottom: 1px solid var(--neutral__500);
  overflow: hidden;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--neutral__600);
  text-align: left;
  margin-bottom: 1rem;
}

.hero {
  .title {
    font-family: var(--font-fira-sans);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.25rem;
    color: var(--neutral__600);
    margin-bottom: 0.5rem;
  }
  .sub_title {
    color: var(--neutral__500);
    font-weight: 700;
    font-size: 1.125rem;
  }

  .description {
    color: var(--neutral__400);
  }
}

.about_me {
  padding-top: 7rem;
  padding-bottom: 6rem;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  ul {
    list-style: disc;
    padding: 1rem;
  }
}

.experience {
  padding-top: 7rem;
  padding-bottom: 6rem;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .experience_container {
    .title {
      font-size: 1.25rem;
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .role {
        font-weight: bold;
        color: var(--neutral__500);
      }
      .date {
        color: var(--neutral__300);
      }
    }
  }
}

.projects {
  padding-top: 7rem;
  padding-bottom: 6rem;

  .project_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media (width >= 40rem) {
  .main {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .projects {
    .project_container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: row;
    }
  }
}
@media (width >= 48rem) {
  .main {
    margin-left: 7rem;
    margin-right: 7rem;
  }

  .experience_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .hero {
    max-width: 90%;
  }
}

@media (width >= 64rem) {
  .main {
    margin-left: 9rem;
    margin-right: 9rem;
  }
  .hero {
    .title {
      font-size: 4rem;
      margin-bottom: 0;
    }

    .sub_title {
      font-size: 1.25rem;
    }
  }

  .projects {
    .project_container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2026-1-13 19:26:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2026-1-13 19:25:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2026-1-13 19:28:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.scale-in-ver-bottom {
  -webkit-animation: scale-in-ver-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-ver-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2026-1-13 19:32:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-bottom
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
